@inherits LayoutComponentBase

@using Blazored.Toast.Configuration

<BlazoredToasts Position="ToastPosition.TopRight"
                Timeout="5"
                IconType="IconType.FontAwesome"
                SuccessClass="success-toast-override"
                SuccessIcon="fa fa-thumbs-up"
                ErrorIcon="fa fa-bug"
                WarningIcon="fa fa-exclamation-triangle"/>

<div class="main">
    <div class="bg-dark text-white">
        <h1>Secret Santa</h1>
    </div>

    <div class="content px-4 text-dark">
        @Body
    </div>
    <div class="container">
        <div class="d-flex justify-content-center text-muted" style="margin-top: 2em">
            Created with &nbsp; <span class="oi oi-heart text-danger"></span>
        </div>
        <div class="d-flex justify-content-center text-muted" style="margin-top: 0.5em">
            &#169; Pranay Dora, @DateTime.Now.Year
        </div>
    </div>
</div>
